<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="BaseDatos" connectionString="Data Source=GONZALO-PC\SQLSERVER2012; Initial catalog=GD2C2015; user id=gd; password=gd2015"></add>

  </connectionStrings>
  <appSettings>
    <add key ="fechaSistema" value = "2014-06-18T00:00:00"/>
  </appSettings>
</configuration>